.git
.github
.expo
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
.env
.phpunit.result.cache
composer.phar
composer-setup.php
npm-debug.log
yarn-error.log
